// .home-page {

//   // // background-image: asset-url('bg-coffee.jpg');
//   // background-position: center;
//   // background-size: cover;
//   // background-repeat: no-repeat;
// }

// .login-logo {
//   // background-image: url('pl-logo.png');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   height: 44vh;
//   margin-top: 12vh;
//   opacity: 0.5;
// }

.home {
  margin-left: 10%;
  margin-right: 10%;
}

#banner-info {
  // width: 450px;
  // margin-left: 10%;
  text-align: left;
  color: #0c4b57;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 45px;
  width: 100vw;
  height: 100vh;


  h1 {
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }

  p {
    margin-bottom: 2rem;
  }

  .form-control {
    // background-color: rgba(255,255,255,0.2);
    background-color: rgba(248,237,225,0.3);
    // background-color: #F8EDE1;
    border: none;
    border-radius: 0px;
    // font-size: 17px;
    // font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #0c4b57 !important;
  }
}

.home-img{
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.home-img.home-img-2 {
  margin-top: 5%;
}
