// body {
//   height: 100vh;
//   background: rgb(190,106,59);
//   background: linear-gradient(0deg, rgba(190,106,59,0.18) 0%, rgba(206,221,222,0.4) 30%);
// }

.fa-star {
  font-size: 24px;
  color: #FECB00;
}

pre, code {
  font-family: monospace, monospace;
}
// pre {
//   overflow: auto;
// }
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}

form abbr[title] {
  border-bottom: none !important;
  text-decoration: none !important;
}



$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px


@media (min-width: 1680px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1920px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .container {
    max-width: 1600px;
  }
}

@media (min-width: 2560px) {
  /* line 6, node_modules/bootstrap/scss/_grid.scss */
  .container {
    max-width: 2000px;
  }
}
