// body {
//   height: 100vh;
//   background: rgb(190,106,59);
//   background: linear-gradient(0deg, rgba(190,106,59,0.18) 0%, rgba(206,221,222,0.4) 30%);
// }

.fa-star {
  font-size: 24px;
  color: #FECB00;
}

pre, code {
  font-family: monospace, monospace;
}
// pre {
//   overflow: auto;
// }
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
