<div class="filters d-flex">
  <!-- <div class="dropdown">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      File type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Word</a>
      <a class="dropdown-item" href="#">Excel</a>
      <a class="dropdown-item" href="#">PowerPoint</a>
      <a class="dropdown-item" href="#">file-independent</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Scope
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">single file</a>
      <a class="dropdown-item" href="#">multiple files</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Client
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Retail Academy</a>
      <a class="dropdown-item" href="#">Swa Online</a>
      <a class="dropdown-item" href="#">Axel Springer</a>
    </div>
  </div>
 -->
  <div class="dropdown">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filters
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= form_tag('/macros', method: :get) do %>
        <% Macro.tags.each do |tag| %>
          <%= check_box_tag 'tags[]', tag %>
          <%= tag %>
          <br>
        <% end %>
        <%= submit_tag 'Apply' %>
      <% end %>
    </div>
  </div>
</div>


