.banner-macro {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1461749280684-dccba630e2f6');
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_tag(Unsplash::Photo.search("coding").sample.urls.full) %>);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;

  .fa-star {
    transition: all .2s ease-in-out;
  }

  .fa-star:hover {
    transform: scale(1.2);
  }
}

.banner-macro h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  display: inline-block;
}

.office-icon.show.fas {
    color: white;
    opacity: 0.6;
    font-size: 28px;
    display: inline-block;
    margin-right: 10px;
}


