.btn-login {
  margin-top: 10px;
  // color: #472d25;
  color: white;
  // background-color: #d9d4cd;
  background-color: #ff5252;
  padding: 0.5rem 3rem;
  font-size: 16px;
}

.btn-login:hover {
  color: white;
  background-color: #E75253;
}

.apply-filter {
  margin-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 6px;
  color: #ff5252;
  background-color: white;
  border: #ff5252 solid 1px;
}

.apply-filter:hover {
  color: white;
  background-color: #ff5252;
}

.btn-purple {
  background-color: white;
  color: #ff5252;
  border: #ff5252 solid 1px;
}

.btn-purple:hover {
  background-color: #ff5252;
  color: white;
}

.copy-btn {
  box-shadow: none !important;
  border-radius: 0.25rem;
  background: #ff5252;
  color: white !important;
  display: block;
  margin: 10px -10px 0 0;
  padding: .5rem 1rem;
  font-size: .75rem;
  text-transform: uppercase;
  text-decoration: none !important;
  position: absolute;
  top: 22px;
  right: 30px;
  cursor: pointer;
}
