.btn-login {
  margin-top: 10px;
  color: #472d25;
  background-color: #d9d4cd;
  padding: 0.5rem 3rem;
  font-size: 16px;
}

.btn-login:hover {
  color: #d9d4cd;
  background-color: #be6a3b;
}

body {
  background: rgb(255,228,169);
  background: radial-gradient(circle, rgba(255,228,169,0.17) 0%, rgba(211,225,225,0.17270658263305327) 39%);
}
