.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  align-items: center;
}

.card-macro {
  position: relative;
}


.card-macro .overlay-link {
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  cursor: pointer;
}


.card-macro .card-inner {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
  height: 180px;
  border-radius: 5px;
  position: relative;
  pointer-events: none;
  z-index: 1;
}

.card-macro .card-inner a {
  pointer-events: all;
  position:relative;
}

.card-macro .card-inner > img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.card-macro h2 {
  font-size: 16px;
  margin: 0;
  color: black;
}

.card-macro p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  display: inline-block;
  width: calc(10%);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.card-macro .card-macro-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-macro .office-icon {
  position: absolute;
  top: 10px;
  left: 10px;

  .fas {
    font-size: 24px;
    color: white;
    opacity: 0.6;
  }
}

.card-macro-infos .card-macro-fav {
  position: absolute;
  right: 12px;
  top: -20px;
  width: 40px;
  font-size: 24px;
}

.card-macro-fav {
  transition: all .2s ease-in-out;
}

.card-macro-fav:hover {
  transform: scale(1.15);
}

