.user-comment {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.user-comment .comment-content {
  flex-grow: 1;
  padding: 0 24px;
}

.user-comment p {
  margin: 0;
  line-height: 1.4;
}

.user-comment small {
  color: #999999;
  font-weight: bold;
}
.user-comment .comment-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.user-comment:hover .comment-actions {
  opacity: 1;
}

.user-comment .comment-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.user-comment .comment-actions a:hover {
  color: #555555;
  text-decoration: none;
}

.comment-link {
  text-decoration: none;
  color: #0E0000;
}

.comment-link:hover {
  text-decoration: none;
  color: #0E0000;
}
