.filters {
  margin: 40px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;

  .dropdown {
    margin-right: 5px;
  }
}

.dropdown-menu #tags_ {
  margin-left: 8px;
}

.clear-filters {
  color: #5A6268;
}

.clear-filters:hover {
  text-decoration: none;
  color: black;
}
