.filters {
  margin: 40px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;

  .dropdown {
    margin-right: 5px;
  }
}

.dropdown-menu {
  width: max-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: none !important;

  fieldset {
    margin-left: 8px;
    margin-right: 12px;
  }
}

.clear-filters {
  color: #5A6268;
}

.clear-filters:hover {
  text-decoration: none;
  color: black;
}
